.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-height: 100vh;
}

.DropTarget {
  background-color: #342c28;
  min-height: 15vh;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.Source {
  background-color: #282c34;
  max-height: 85vh;
  display: flex;
  flex-flow: column wrap;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  flex-grow: 1;
}

.SourceRow {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  gap: 10px;
}

.Buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.Word {
  border: 1px solid gray;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: move;
  float: left;
  color: #020802;
};
