.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-height: 100vh;
}

.DropTarget {
  background-color: #342c28;
  min-height: 15vh;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.Source {
  background-color: #282c34;
  max-height: 85vh;
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* gap: 10px; */
  /* align-items: flex-start; */
  /* justify-content: left; */
  color: white;
  flex-grow: 2;
}

.SourceRow {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  gap: 10px;
}

.Buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.Button {
  border: 1px solid gray;
  padding: 0.25rem;
  margin: .25rem;
  color: white;
  font-size: calc(8px + 1vmin);
}

.Instructions {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  margin: .5rem;
  cursor: move;
  color: white;
  font-size: calc(10px + 1vmin);
  float: left;
}

.Word {
  border: 1px solid gray;
  background-color: white;
  padding: 0.5rem 1rem;
  margin: .5rem;
  cursor: move;
  color: #020802;
  font-size: calc(10px + 1vmin);
  float: left;
}
